/*  
// src/AgentPolicyPlane/AgentGraph/index.css

custom css for the AgentGraph component (react flow overriden styles)

*/

.react-flow {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(243, 244, 246);
  --node-border-radius: 50%;
  --node-box-shadow: 5px 0 15px rgba(42, 138, 246, 0.3),
    -5px 0 15px rgba(233, 42, 103, 0.3);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.react-flow__node-turbo {
  border-radius: var(--node-border-radius);
  display: flex;
}

.react-flow__node-turbo .wrapper {
  /* overflow: hidden; */
  display: flex;
  position: relative;
  height: 44px;
  width: 44px;
  border-radius: var(--node-border-radius);
  flex-grow: 1;
}

.react-flow__node-turbo .wrapper-half {
  /* overflow: hidden; */
  display: flex;
  position: relative;
  height: 22px;
  width: 22px;
  border-radius: var(--node-border-radius);
  flex-grow: 1;
}

.react-flow__node-turbo .inner {
  background: var(--bg-color);
  border-radius: var(--node-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

.react-flow__node-turbo .inner svg.agent-icon {
  position: absolute;
  height: 27.5px;
  width: 27.5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.react-flow__node-turbo .wrapper-half .inner svg.agent-icon {
  height: 13.75px;
  width: 13.75px;
}

.react-flow__handle {
  opacity: 0;
}

.react-flow__handle-right.source {
  right: -3px;
}

.react-flow__handle-left.target {
  left: -5px;
}

.react-flow__handle-top.source {
  top: -3px;
}

.react-flow__handle-bottom.target {
  bottom: -5px;
}

.react-flow__node:focus {
  outline: none;
}

.react-flow__edge .react-flow__edge-path {
  stroke-width: 1;
  stroke-opacity: 1;
}

/* .react-flow__controls button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #95679e;
  border-bottom: none;
}

.react-flow__controls button:hover {
  background-color: rgb(37, 37, 37);
}

.react-flow__controls button:first-child {
  border-radius: 5px 5px 0 0;
}

.react-flow__controls button:last-child {
  border-bottom: 1px solid #95679e;
  border-radius: 0 0 5px 5px;
}

.react-flow__controls button path {
  fill: var(--text-color);
} */

.react-flow__node-turbo .wrapper-nemo {
  /* overflow: hidden; */
  display: flex;
  position: relative;
  border-radius: var(--node-border-radius);
  flex-grow: 1;
}

@keyframes ripplerrr {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.ripple-wrapper .animate-ripple {
  animation: ripplerrr 2s ease-out infinite;
}

.ripple-wrapper .animate-ripple-delayed {
  animation: ripplerrr 2s ease-out 0.5s infinite;
}

.ripple-wrapper .animate-ripple-more-delayed {
  animation: ripplerrr 2s ease-out 1s infinite;
}
@keyframes deepSeaPulse {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 0.9;
  }
  50% {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0.3;
  }
  100% {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0;
  }
}

.animate-sonar {
  animation: deepSeaPulse 7.8s cubic-bezier(0.1, 0, 0.2, 0.3) infinite;
}

.animate-sonar-delayed {
  animation: deepSeaPulse 7.8s cubic-bezier(0.1, 0, 0.2, 0.3) 4s infinite;
}

.animate-sonar-more-delayed {
  animation: deepSeaPulse 7.8s cubic-bezier(0.1, 0, 0.2, 0.3) 5.8s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes node-pulse {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

.react-flow__edge .react-flow__edge-path {
  stroke: red;
  stroke-width: 1;
  transition: opacity 0.3s ease;
}

.react-flow__edge.animated .react-flow__edge-path {
  stroke-dasharray: 5;
  animation: dashdraw 1s linear infinite;
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }
}
/* Glow animations */
@keyframes pulseGlowBlue {
  0%,
  100% {
    box-shadow: 0 0 4px 0 rgba(0, 112, 244, 0.6),
      0 0 8px 2px rgba(0, 112, 244, 0.4);
  }
  50% {
    box-shadow: 0 0 8px 2px rgba(0, 112, 244, 0.8),
      0 0 12px 4px rgba(0, 112, 244, 0.6);
  }
}

@keyframes pulseGlowAlert {
  0%,
  100% {
    box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.6), 0 0 8px 2px rgba(255, 0, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.8),
      0 0 12px 4px rgba(255, 0, 0, 0.6);
  }
}

@keyframes pulseGlowGreen {
  0%,
  100% {
    box-shadow: 0 0 4px 0 rgba(0, 255, 0, 0.6), 0 0 8px 2px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 8px 2px rgba(0, 255, 0, 0.8),
      0 0 12px 4px rgba(0, 255, 0, 0.6);
  }
}

/* Classes for the animations */
.tw-animate-pulse-glow-blue {
  animation: pulseGlowBlue 1.5s infinite;
}

.tw-animate-pulse-glow-alert {
  animation: pulseGlowAlert 1.5s infinite;
}

.tw-animate-pulse-glow-green {
  animation: pulseGlowGreen 1.5s infinite;
}
